[Unit]
Description=Mount SSHFS Share
After=network-online.target
Wants=network-online.target
StartLimitBurst=5
StartLimitIntervalSec=30

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/sshfs -o reconnect,ServerAliveInterval=15,ServerAliveCountMax=3 master:/home/saltchicken/.master /home/saltchicken/.master
ExecStop=/bin/fusermount -uz /home/saltchicken/.master
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target

