[Unit]
Description=Start a tmux session on login
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/tmux new-session -d -s default
ExecStop=/usr/bin/tmux kill-session -t default

[Install]
WantedBy=default.target

